html{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #fcebeb;
    width: 1080px;
    margin: 0 auto;
}
header{
    float: left;
}
nav{
    float:left;
    width: 1080px;
    height: 50px;
    line-height: 50px;
}
main{
    float:left;
}
nav a{
    margin-left: 10px;
    text-decoration: none;
    font-size: 22px;
    color: blueviolet;
}
section{
    float: left;
    width: 540px;
}
nav a:hover{
    color: darkblue;
}
.smallimg{
    background-color: black;
    display: inline-block;
    width: 524px;
}
.image {
    background-color: black;
    display: inline-block;
    margin: 10px;
    width: 524px;
    height: 356px;
}

.imageholder{
    float: left;
    text-align: center;
    margin-top: 10px;
    width: 540px;
    height: 340px;
}

.articlecon{
    width: 1080px;
    text-align: center;
    float: left;
}
.realign{
    position: relative;
    width: 335px;
    height: 440px;
    display: inline-block;
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.realign p, h3{
    text-align: left;
    font-size: 16px;
    margin-left: 5px;
    margin-top: 5px;
}

.cr{
    float:left;
    width: 1080px;
    height: 25px;
    font-size: 9px;
    text-decoration: none;
}